$background: #fff;

.welcome__contant {
    background-color: $background !important;
    min-height: 85vh;
    padding: 1rem 2rem;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contant__info{
    .contant__title {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .contant__text {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .contant__buttons{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
