.card {
    width: 600px;
}
@media (max-width: 700px) {
    .card {
        width: 95%;
    }
}
.card__cover {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
    padding: 1rem;
}
.cover__image {
    border-radius: 50% !important;
}
.cover__name {
    margin: 0;
    margin-bottom: 0 !important;
}
.comment__list{
    .comment__item {
        .comment {
            display: flex;
            width: 100% !important;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            .comment__text {
                display: flex;
                width: 100%;
                flex-direction: row;
                gap: 1rem;
                margin-top: 10px;
            }
        }
    }
}