$primary-color: #36cfc9;
.container {
    background-color: #fff;
    min-height: 85vh;
    margin-top: 2px;
    padding: 2rem 1rem;
}
.column {
    min-width: 30rem;
}
@media (max-width: 500px) {
  .column {
    min-width: 15rem;
    width: 95%;
  }
}
.form {
    padding: 2rem;
    box-shadow: 0rem 0rem 0.2rem 0.01rem rgba(0, 0, 0, 0.499);
    .form__message{
        font-size: 18px;
        color: grey;
        text-align: center;
        font-style: italic;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        &:hover {
            opacity: 0.6;
            transition: all 0.3s;
        }
    }
    .form__icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
}